SERVER_PORT=8080

DB_URL=jdbc:mysql://mysql:3306/chatdb?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=your-password

REDIS_HOST=redis
REDIS_PORT=6379

API_KEY=your-api-key